.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__card {
  padding: 1rem;
  min-width: 500px;
  max-width: 60vw;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
